#slider {
	position: relative;
	overflow: hidden;
	height: 400px;
}

#slides {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 300%;
	display: flex;
}

.slide {
	position: relative;
	height: 100%;
	flex: 1;
	background-position: center;
	background-size: cover;
}

.slide-1 {
	background-image: url('ASSETS/allec-gomes-xnRg3xDcNnE-unsplash.jpg');
}

.slide-2 {
	background-image: url('ASSETS/fernando-andrade-nAOZCYcLND8-unsplash.jpg');
}

.slide-3 {
	background-image: url('ASSETS/mae-mu-U1iYwZ8Dx7k-unsplash.jpg');
}

#navigation {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	display: flex;
}

.nav-item {
	height: 10px;
	width: 10px;
	margin: 0 5px;
	border-radius: 50%;
	background-color: #000000;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.nav-item.active {
	background-color: #000;
}
